{% extends "base.html" %}
{% block title %}New project{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}
{% block content %}
    <main role="main" class="container" style="min-height: calc(100vh - 160px)">
        <h1>New project</h1>
        {% if error %}
        <div class="alert alert-danger mb-2">
            <strong>{{ error }}</strong>
        </div>
        {% endif %}
        <form action="{{url_for('create_project')}}" method="post" enctype="multipart/form-data" id="createProjForm">
            <div class="form-group row">
                <label for="projectName" class="col-sm-2 col-form-label">Project Name</label>
                <div class="col-sm-10">
                    <input type="text" name="project_name" id="projectName" class="form-control" placeholder="Project name" required>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <legend class="col-sm-2 col-form-label">Machine learning type</legend>
                    <div class="col-sm-10 pt-2">
                        <div class="form-check form-check-inline">
                            <input type="radio" name="type" class="form-check-input" id="inputClassification" value="classification" checked>
                            <label for="classification" class="form-check-label">Classification</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="type" class="form-check-input" id="inputRegression" value="regression">
                            <label for="regression" class="form-check-label">Regression</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFile" class="col-sm-2 col-form-label">Input file</label>
                <div class="col-sm-10 pt-1">
                    <input name="csv" type="file" class="form-control-file" id="inputFile">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFeatures" class="col-sm-2 col-form-label">Features <small>(column_name:type,...)</small></label>
                <div class="col-sm-10 pt-1">
                    <input type="text" name="features" class="form-control" id="inputFeatures" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLabels" class="col-sm-2 col-form-label">Labels <small>(column_name)</small></label>
                <div class="col-sm-10 pt-1">
                    <input type="text" name="label" class="form-control" id="inputLabels" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Submit" data-toggle="modal" data-target="#modalLoading">Create project</button>
        </form>

        <div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="#loadingLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalLabel">
                            Creating project
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>The project is being created and the models are being trained with the dataset. <span class="font-italic">This could take a while.</span></p>
                        <!-- Animated Icon -->
                        <p class="text-center">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <path fill="#007bff" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                <animateTransform attributeType="xml"
                                                attributeName="transform"
                                                type="rotate"
                                                from="0 25 25"
                                                to="360 25 25"
                                                dur="0.6s"
                                                repeatCount="indefinite"/>
                                </path>
                            </svg>
                        </p>
                        <p>When finished you will automatically be redirected.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
<script>
    var form = $("#createProjForm");
    console.log(form);
    form.submit(function() {
        console.log($(this).children("button"));
        $(this).children("button").attr("disabled", true);
    });
</script>
{% endblock %}