<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand p-0">
            <img src="../static/images/brain.png" height="32" width="32" alt="">
            <span class="align-content-center">WebML</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="navbar-nav ml-auto">
                {% if name or user %}
                <a href="/projects" class="nav-item nav-link"><i class="fas fa-table"></i> Projects</a>
                {% endif %}
            </div>
            {% if name or user %}
            <div class="navbar-nav">
                <a href="/users/profile" class="nav-item nav-link text-capitalize"><i class="fas fa-user-circle"></i> {{name or user["name"]}}'s Profile</a>
            </div>
            <div class="navbar-nav">
                <a href="/logout" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav">
                <a href="/register" class="nav-item nav-link"><i class="fas fa-user-plus"></i> Register</a>
            </div>
            <div class="navbar-nav">
                <a href="/login" class="nav-item nav-link"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
            {% endif %}
        </div>
    </nav>
</header>
