{% extends "base.html" %}
{% block title %}
    {% if user["name"] %}
        {{ user["name"]}}'s profile
    {% else %}
        Profile
    {% endif %}
{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}
{% block content %}
    <main role="main" class="container" style="min-height: calc(100vh - 160px)">
        <div class="container">
            {% if error %}
            <div class="alert alert-danger mt-3 mb-0">
                <strong>{{ error }}</strong>
            </div>
            {% endif %}
            <h1>Welcome <span class="text-capitalize">{{ user["name"] }}</span>
                <button id="change_view" class="btn btn-default">Edit profile</button>
            </h1>
            
            
            <div id="display_view">
                <!-- User info -->
                <p><strong>Name:</strong> {{user["name"]}}</p>
                <p><strong>Username:</strong> {{user["username"]}}</p>
                <p><strong>Email:</strong> {{user["email"] }}</p>
            </div>

            <div id="edit_view">
                <!-- Modify profile -->
                <form action="{{url_for('update_user_info' )}}" method="post">
                    <h3>Change profile information</h3>
                    <div class="form-group mb-1 ">
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{user['name']}}" required>
                    </div>
                    <div class="form-group mb-1 ">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="{{user['username']}}" required>
                    </div>
                    <div class="form-group mb-1 ">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" value="{{user['email']}}" required>
                    </div>            
                    <button class="btn btn-primary" type="submit">Change info</button>
                </form>
                <hr/>
                <!-- Change password -->
                <form action="{{url_for('update_user_password')}}" method="post">
                    <h3>Change password</h3>
                    <div class="form-group mb-3">
                        <label for="oldPassword" class="sr-only">Current Password</label>
                        <input type="password" name="password" id="oldPassword" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <!-- TODO: notify of legal chars -->
                        <label for="inputPassword" class="sr-only">New Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="New Password" required>
                        <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
                        <input type="password" name="repassword" id="inputPasswordConfirm" class="form-control" placeholder="Confirm Password" required>
                    </div>          
                    <button class="btn btn-danger" type="submit">Change password</button>
                </form>
            </div>

        </div>
    </main>
{% endblock %}
{% block script %}
<script>
    var edit = $("#edit_view");
    var display = $("#display_view");
    var button = $("#change_view");
    
    edit.hide();
    var state = 0;

    button.click(function() {
        if (state == 0) {
            // Change to edit
            state = 1;
            edit.show();
            display.hide();
            button.html("Cancel");
        } else {
            // Change to display
            state = 0;
            edit.hide();
            display.show();
            button.html("Edit profile");
        }
    });
</script>
{% endblock %}
