{% extends "base.html" %}
{% block title %}{{project['name']}}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}
{% block content %}
<main role="main" class="container py-5">
    <h1 class="mb-4 display-4">{{project['name']}}
        <button id="change_view" class="btn btn-secondary float-right"><i class="fas fa-edit"></i> Edit project</button>
    </h1>
    {% if error %}
    <div class="alert alert-danger mt-3 mb-0">
        <strong>{{ error }}</strong>
    </div>
    {% endif %}
    <div id="display_view">
        <section class="my-5">
            <!-- new -->
            <h4 class="mb-3">Project information</h4>
            <ul class="list-group">
                <div class="list-group-item">
                    <h5>Machine learning type</h5>
                    <p>{{project['type']}}</p>
                </div>
                <div class="list-group-item">
                    <h5>Features</h5>
                    <ul class="list-group w-75">
                        {% for feature in project['features'] %}
                        <li class="list-group-item flex-column">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0 pb-0">{{feature[0]}}</h6>
                                <p class="mb-0 pb-0">{{feature[1]}}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="list-group-item">
                    <h5>Label</h5>
                    <p>{{project['label']}}</p>
                </div>
            </ul>
        </section>
        <hr>
        <section class="my-5">
            <!-- Trials -->
            <h4>Machine learning models</h4>
            <h6>Select a model to predict from new information</h6>
            {% if project['selected_model'] != -1 %}
            <p>Prediction endpoint: <a href="" id="predictionEndpoint"><span id="windowLocation"></span><span id="windowDestination">{{url_for('predict')}}</span></a></p>
            {% endif %}
            <div class="row">
                {% for trial in project['trials'] %}
                <div class="col-sm-12 col-md-4 mb-1 mt-2">
                    <div class="card">
                        <div class="card-header">
                            Model: {{trial['id'] + 1}}
                        </div>
                        <div class="card-body p-md-2 p-sm-3">
                            <h6 class="card-subtitle text-capitalize py-2">Hyper Parameters</h6>
                            <ul class="list-group">
                                {% for item in trial['hyperparameters'] %}
                                <li class="list-group-item p-2 text-capitalize"><strong>{{item}}:</strong> {{trial['hyperparameters'][item]}}</li>
                                {% endfor %}
                            </ul>
                            {% if project['type'] == "classification" %}
                                <h6 class="card-subtitle text-capitalize pt-3">Accuracy <span data-toggle="tooltip" title="More is better" data-placement="right"><i class="far fa-question-circle"></i></span></h6>
                                <p class="card-body p-1 m-0">{{'%0.4f' % (trial['metrics']['accuracy']*100) }}%</p>
                            {% else %}
                                <h6 class="card-subtitle text-capitalize pt-3">Average Loss <span data-toggle="tooltip" title="Less is better" data-placement="right"><i class="far fa-question-circle"></i></span></h6>
                                <p class="card-body p-1 m-0">{{'%0.4f' % (trial['metrics']['average_loss']) }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-right">
                            <form action="{{url_for('select_trial')}}" method="post">
                                <input type="hidden" name="id" value="{{trial['id']}}">
                                {% if project['selected_model'] == trial['id'] %}
                                    <button type="submit" class="btn btn-secondary selectedModel" disabled>Currently selected</button>
                                    <a href="{{url_for('predict')}}" class="btn btn-primary">Try it out</a>
                                {% else %}
                                    <button type="submit" class="btn btn-primary unselectedModel">Select this model</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <hr>
        <section class="my-5">
            <h4>Delete project</h4>
            <div class="text-right">
                <button type="button" class="btn btn-danger mb-2 mt-4" data-toggle="modal" data-target="#deleteUserModal"><i class="fas fa-times-circle"></i> Delete project</button>
            </div>
        </section>
    </div>

    <div id="edit_view">
        <form action="{{url_for('update_project')}}" method="post">
            <div class="form-group row">
                <label for="projectName" class="col-sm-2 col-form-label">Project Name</label>
                <div class="col-sm-10">
                    <input type="text" name="project_name" id="projectName" class="form-control" placeholder="Project name" value="{{project['name']}}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <legend class="col-sm-2 col-form-label">Machine learning type</legend>
                    <div class="col-sm-10 pt-2">
                        <div class="form-check form-check-inline">
                            {% if project["type"] == "classification" %}
                            <input type="radio" name="type" class="form-check-input" id="inputClassification" value="classification" checked>
                            {% else %}
                            <input type="radio" name="type" class="form-check-input" id="inputClassification" value="classification">
                            {% endif %}
                            <label for="classification" class="form-check-label">Classification</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if project["type"] == "regression" %}
                            <input type="radio" name="type" class="form-check-input" id="inputRegression" value="regression" checked>
                            {% else %}
                            <input type="radio" name="type" class="form-check-input" id="inputRegression" value="regression">
                            {% endif %}
                            <label for="regression" class="form-check-label">Regression</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFeatures" class="col-sm-2 col-form-label">Features <small>(column_name:type,...)</small></label>
                <div class="col-sm-10 pt-1">
                    <input type="text" name="features" class="form-control" id="inputFeatures" value="{{features_string}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLabels" class="col-sm-2 col-form-label">Labels <small>(column_name)</small></label>
                <div class="col-sm-10 pt-1">
                    <input type="text" name="label" class="form-control" id="inputLabels" value="{{project['label']}}" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update project</button>
        </form>
    </div>

    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel">
                        Delete this project
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Think about this carefully. <strong>This cannot be undone!</strong></p>
                </div>
                <div class="modal-footer">
                    <form action="{{url_for('delete_project')}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script>
    var edit_view = $("#edit_view");
    var display_view = $("#display_view");
    var view_button = $("#change_view");

    edit_view.hide();
    var state = 0;

    view_button.click(function() {
        if (state == 0) {
            // Change to edit
            state = 1;
            edit_view.show();
            display_view.hide();
            view_button.html("<i class='fas fa-times'></i> Cancel");
        } else {
            // Change to display
            state = 0;
            edit_view.hide();
            display_view.show();
            view_button.html("<i class='fas fa-edit'></i> Edit profile");
        }
    });

    $(document).ready(function(){
        var location1 = $('#windowLocation');
        var location2 = $('#windowDestination').html();
        
        var modelLink = $('#predictionEndpoint');

        location1.html(window.location['origin']);
        modelLink.attr('href', window.location['origin']+location2);

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    });
    
</script>
{% endblock %}
