{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/css/register_style.css">
{% endblock %}
{% block title %}Join us today!{% endblock %}
{% block content %}
    <form action="{{ url_for('register') }}" method="post" class="c-form-signin">
        <h1 class="h3">Register today, no cost, no more ML hassle.</h1>
        <div class="form-group">
            <label for="inputName" class="sr-only">Real Name</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Real Name" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputEmail" clssclass="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group">
            <label for="inputUsername" clssclass="sr-only">Username</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
            <input type="password" name="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirm Password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
{% endblock %}